{% extends "default.html" %}
{% block content %}
<section class="hero is-large has-background-info">
	<div class="hero-body">
		<div class="columns is-mobile">
  			<div class="column is-half is-offset-one-quarter">
          <form action="/chat" method="GET">
            <div class="field">
              <label class="label has-text-white">Ingresa nombre de usuario</label>
              <p class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" placeholder="Usuario..." name="username" required autocomplete="off">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button">Iniciar</button>
              </p>
            </div>
          </form>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
